In [1]:
import matplotlib.pyplot as plt
from sklearn import preprocessing
import numpy as np
import pandas as pd
import warnings
from scipy import stats
from sklearn.feature_selection import RFECV
from scipy import interpolate
from pandas import DataFrame
#import seaborn as sns
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
import random
from sklearn import metrics
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression
from datetime import datetime, timedelta
import math
from hmmlearn import hmm

In [14]:
col_Names=["id", "imo", "lat", "lon", "course", "heading", "speed", "timestamp", "name", "type_name", "destination"]

df=pd.read_csv("C:/Users/Χαρά/Desktop/generalCargo.csv", names = col_Names)
null_ids = df['id'].isnull().values.any() # check if any id is null
null_ids

False

In [15]:
m = len(df)
print(m)

2453488

In [16]:
null_heading = df['heading'].isnull().values.any() # check if any heading is null
null_heading # true or false

True

In [17]:
#values = {'heading': 'Unknown Heading', 'destination': 'Unknown Destination'}
values = {'destination': 'Unknown Destination'}
df = df.fillna(value=values) # fill nans of only the heading column's and destination column's

In [18]:

# let's now generate some random numbers to specify what label from the enumeration the logic chose to 
# put as label next to a point the number of its appearance will also be randomly specified by
# these 2 below functions...

frequency = np.random.choice(np.arange(1, 7))
print(frequency)

label = np.random.choice( ['A', 'B', 'C', 'D', 'E', 'F', 'G'] )
print(label)

# let's find out how many nan values inside navigation column we have at this point left empty so we generate as many 
# letter labels as we need ...

NaN = np.nan

df['navigation'] = NaN
print(len(df['navigation']))



letters = [letter for i in range(len(df.loc[df.navigation.isnull(), 'navigation']))
                for letter in np.random.choice( ['A', 'B', 'C', 'D', 'E', 'F', 'G'] )
                   for frequency in range(np.random.choice(np.arange(1, 5)))]

2
C
2453488

In [20]:
print(len(letters))
print(len(df['navigation']))
letters_trimed = letters[:2453488]


# fill the rest values which are nan from the navigation column since we didn't find out all real labels 
# with values from letters list/series which was generated above with a random frequency of appearance of each randomly chosen letter
# to do so we need to have that list named letters the same length as our nans are inside our navigation column
# let's also note that the order of the sequence won't change! the letters will fill the nan values following the exact same 
# order that they have inside the 'letters' list...
df.loc[df.navigation.isnull(), 'navigation'] = letters_trimed

6132754
2453488

In [21]:
df

,id,imo,lat,lon,course,heading,speed,timestamp,name,type_name,destination,navigation
0,256746000,9327774,36.97554,12.57211,279,279.0,113,2015-08-01 00:00:00,SPAVALDA,General Cargo,GIBRALTAR,G
1,241374000,7903249,38.00850,16.62183,217,511.0,101,2015-08-01 00:00:00,EVIACEMENT IV,General Cargo,LICATA,G
2,671240000,8812875,36.58783,23.52683,224,247.0,90,2015-08-01 00:00:00,HUDA F,General Cargo,Y,E
3,244017000,9246906,37.58095,15.88839,210,210.0,67,2015-08-01 00:00:00,FRISIAN LADY,General Cargo,MALTA,B
4,271040283,9473975,36.22883,15.73128,283,282.0,86,2015-08-01 00:00:00,ATLAS B,General Cargo,CASTELLON,B
5,636016745,9506588,35.71525,14.56147,245,245.0,103,2015-08-01 00:00:01,BEE,General Cargo,GABES/TUNISIAN,B
6,538005972,9268083,36.30018,14.46795,269,268.0,114,2015-08-01 00:00:01,AUCKLAND SPIRIT,General Cargo,GIBRALTAR,B
7,271000261,8913320,40.96595,28.93332,48,345.0,0,2015-08-01 00:00:01,ZINNET METE,General Cargo,YUZHNY,B
8,374749000,8516744,40.87383,29.18370,66,31.0,0,2015-08-01 00:00:02,LIRA,General Cargo,KARTAL,B
9,377768000,8130851,41.88612,28.86559,163,161.0,108,2015-08-01 00:00:03,SITHONIA,General Cargo,BALCHIK,F
10,620040000,8401523,35.81150,27.39148,156,159.0,110,2015-08-01 00:00:05,OSMAN PRINCE,General Cargo,ALEXANDRIA,F
11,305826000,9559901,37.11659,12.00380,296,298.0,117,2015-08-01 00:00:05,THORCO AURORA,General Cargo,HUELVA,F
12,271002123,8212336,40.71723,28.82198,192,511.0,101,2015-08-01 00:00:06,ANNA M,General Cargo,MUDANYA,F
13,518100004,9043380,36.22171,21.99982,131,511.0,128,2015-08-01 00:00:06,RUBUS,General Cargo,HAIFA,A
14,305245000,9435117,35.92247,16.15149,86,84.0,97,2015-08-01 00:00:07,BBC COLORADO,General Cargo,ISKENDERUN,A
15,248098000,9143403,39.72167,11.16883,163,164.0,86,2015-08-01 00:00:07,SIDER CAPRI,General Cargo,GABES,A
16,247285400,9504279,38.30073,12.59087,91,90.0,106,2015-08-01 00:00:07,TOTO BR,General Cargo,CROTONE,F
17,214182424,9071064,38.56694,25.75362,358,2.0,101,2015-08-01 00:00:09,ST.MARIA,General Cargo,GEMLIK,F
18,305562000,9017410,38.33194,13.02375,265,265.0,97,2015-08-01 00:00:09,PERU,General Cargo,BILBAO,C
19,636012771,9371024,36.50601,14.39137,107,511.0,79,2015-08-01 00:00:10,SAXONA,General Cargo,TO ORDER,C
20,271002353,9187978,34.06480,27.69817,99,97.0,90,2015-08-01 00:00:10,SEHER II,General Cargo,ORDER,C
21,229940000,9364007,42.49010,15.79617,138,141.0,79,2015-08-01 00:00:11,SEA TRADER,General Cargo,ISKENDERUN,C
22,248832000,9173355,36.34214,21.52771,92,89.0,119,2015-08-01 00:00:12,SIR ALBERT,General Cargo,LARYMNA.GREECE,C
23,357019000,8319524,32.08599,24.05571,27,511.0,0,2015-08-01 00:00:12,SEA AMORE,General Cargo,TOBRUK,E
24,271002635,8216100,35.82396,10.64662,243,511.0,0,2015-08-01 00:00:12,BEKIR HACIBEKIROGLU,General Cargo,SOUSSE,E
25,271000829,9357078,40.96780,19.23505,199,200.0,113,2015-08-01 00:00:12,OSMAN DOGRUYOL,General Cargo,NEMRUT/TURKEY,E
26,351429000,9508603,41.16019,17.41093,127,128.0,94,2015-08-01 00:00:14,ERGE,General Cargo,SKIKDA,E
27,248400000,9453614,39.12607,19.45792,149,145.0,91,2015-08-01 00:00:15,MEROVING,General Cargo,ROTA (TURKEY,D
28,246210000,9229087,37.25006,20.84587,317,323.0,124,2015-08-01 00:00:15,VOORNEDIEP,General Cargo,BRINDISI,D
29,256183000,9057317,39.79373,19.31926,152,149.0,73,2015-08-01 00:00:15,EREGLI,General Cargo,AMBARLI,D
...,...,...,...,...,...,...,...,...,...,...,...,...
2453458,636016381,9449388,40.70418,27.45270,242,244.0,73,2015-08-23 02:43:14,SANTANA,General Cargo,NAPOLI,B
2453459,271002077,7364390,40.88242,29.20445,0,511.0,0,2015-08-23 02:43:15,KUMDASG 2,General Cargo,Unknown Destination,E
2453460,351960000,9136565,37.65952,10.04956,274,273.0,119,2015-08-23 02:43:15,BLUE IMAGE,General Cargo,NEW ORLEANS,E
2453461,304034000,9347059,36.84852,12.58825,106,107.0,138,2015-08-23 02:43:17,BBC ELBE,General Cargo,SUEZ CANAL,E
2453462,305245000,9435117,36.78660,13.64697,296,293.0,139,2015-08-23 02:43:18,BBC COLORADO,General Cargo,ANGRO DOS REIS,E
2453463,271000893,9352157,41.61750,17.00750,133,138.0,105,2015-08-23 02:43:20,MEHMET DADAYLI 1,General Cargo,VALENCIA,E
2453464,237565100,7614824,39.68553,23.03622,150,148.0,86,2015-08-23 02:43:20,CALYPSO,General Cargo,LARYMNA-THESSALONIKI,E
2453465,518718000,8504284,40.86939,29.22130,258,15.0,0,2015-08-23 02:43:20,IVY,General Cargo,TUZLA,G
2453466,245604000,9356579,40.60889,27.33306,68,67.0,80,2015-08-23 02:43:21,JETSTREAM,General Cargo,GEMLIK,B
2453467,667005247,8307947,36.49154,28.17813,266,268.0,119,2015-08-23 02:43:23,TAHA Y,General Cargo,NOVOROSSIYSK,B
2453468,677022400,7729198,35.36277,27.49205,159,154.0,99,2015-08-23 02:43:23,MEGA STAR,General Cargo,GEBZE,B
2453469,677032800,8128858,39.34270,22.96533,211,320.0,0,2015-08-23 02:43:23,HELVETIA,General Cargo,VOLOS,B
2453470,229940000,9364007,40.82695,29.21596,0,12.0,0,2015-08-23 02:43:24,SEA TRADER,General Cargo,TUZLA,D
2453471,667005086,8420103,40.87518,29.20515,88,511.0,0,2015-08-23 02:43:24,SAHRA 1,General Cargo,KARTAL,D
2453472,304045000,9373515,36.38957,22.74774,253,249.0,106,2015-08-23 02:43:24,SZ I0,General Cargo,RAVENNA,E
2453473,201100149,9012989,41.81295,19.58811,285,511.0,1,2015-08-23 02:43:24,BERGFJORD,General Cargo,SHENGJIN,E
2453474,538002419,9217888,36.44835,14.57048,107,107.0,131,2015-08-23 02:43:27,GREAT MARY,General Cargo,"CONSTANTZA,RUMANIA",E
2453475,477056800,9414711,36.79520,26.39587,317,316.0,111,2015-08-23 02:43:28,MATSUSAKA,General Cargo,DERINCE,E
2453476,240808000,7726940,39.27628,22.93785,214,213.0,89,2015-08-23 02:43:28,EFSTRATIOS,General Cargo,VOLOS,D
2453477,271000359,9041124,40.64695,28.85883,232,230.0,103,2015-08-23 02:43:28,UMIT G,General Cargo,GEMLIK,B
2453478,636091932,9419254,34.33647,25.13379,294,294.0,125,2015-08-23 02:43:30,CORRIENTES,General Cargo,MARGHERA,B
2453479,214182301,8415201,37.83820,23.59300,268,272.0,83,2015-08-23 02:43:30,KORALLE,General Cargo,AG NIKOLAOS,B
2453480,214182605,8416750,36.95610,27.22239,303,304.0,88,2015-08-23 02:43:31,TITAN,General Cargo,YEISK,B
2453481,256109000,9008079,36.85784,26.72536,156,157.0,103,2015-08-23 02:43:34,M.IZMIR,General Cargo,HAIFA/ISRAEL,C
2453482,357019000,8319524,38.55386,25.02848,30,511.0,114,2015-08-23 02:43:34,SEA AMORE,General Cargo,BERDYANSK,C
2453483,271002242,8857655,38.08365,24.70705,26,233.0,64,2015-08-23 02:43:35,ERDOGAN SENKAYA,General Cargo,DILISKELESI,C
2453484,256361000,9368572,36.77609,23.86140,53,52.0,79,2015-08-23 02:43:35,MIRZAGA KHALILOV,General Cargo,RENI/UKRAINE,E
2453485,353264000,9488061,42.46542,27.95178,92,79.0,109,2015-08-23 02:43:36,ELLENSBORG,General Cargo,GRKLX KALAMATA,E
2453486,636015265,9224142,35.98801,15.17844,105,102.0,123,2015-08-23 02:43:36,VECHTDIEP,General Cargo,ALEXANDRIA VIA NOK,C
2453487,351770000,8606109,41.27365,29.08068,115,110.0,125,2015-08-23 02:43:38,ISMAIL SENER,General Cargo,TURKELI,C

In [26]:
# save the new dataframe into a .csv file...
df.to_csv(r'C:\Users\Χαρά\Desktop\final.csv', index=False, header=False)